body{
    margin: 0;
    background-color: rgb(31, 31, 31);
}
.container{
    width: 90%;
    height: 90vh;
    margin: 5vh auto 0;
    background-color: #5E2EAB;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    background-image: url(./image/cibo.jpg);
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.p1{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.5px;
    margin-top: 0;
}
.p2{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
}
a{
    color: #ffa500;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
