body{
    margin: 0;
    background-color: black;
}
.container{
    width: 1388px;
    height: 827px;
    margin: 100px auto;
    background-color: #5E2EAB;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 140px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    background-image: url(./image/cibo.jpg);
    width: 448px;
    height: 547px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.right{
    width: 560px;
    height: 547px;
}
.p1{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.5px;
    margin-top: 0;
}
.p2{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
}
a{
    color: #ffa500;
    text-decoration: none;
}
